.nav-icon{
    width:200px;
}


.menu>li{
    a{
        color:black;
        &:hover{
            color:rgba(0,0,0,0.5)
        }
        
        &.is-active{
            color:black;
            font-weight:bold;
        }
    }
    @include breakpoint(medium){
         margin-left:3rem;
         margin-top:1rem
    }

    &.to-right{
        // float:right;
    }
}

.menu>li.bro{
    a{
        color:black;
        &:hover{
            color:rgba(0,0,0,0.5)
        }
        
        &.is-active{
            color:black;
            font-weight:bold;
        }
    }
    @include breakpoint(medium){
         margin-left:0rem !important;
         margin-top:0.5rem !important;
         
    }

    &.to-right{
        // float:right;
    }
}

.label_drop{
    @include breakpoint(medium){
        margin-left:1rem !important;
   }


}

.backdrop{
    width:100%;
    height:100vh;
    background: linear-gradient(rgba(255,255,255,0.5), rgba(255,255,255,0.5)),url('https://greenklean.ph/front/img/plant spray.jpg');
    background-size: cover;
    padding:1rem;
}

.backdrop-blue{
    width:100%;
    height:100vh;
    background: linear-gradient(rgba(255,255,255,0.5), rgba(255,255,255,0.5)),url('https://greenklean.ph/front/img/greenclean2.jpg');
    background-size: cover;
    padding:1rem;
}

.backdrop-2{
    width:100%;
    height:100vh;
    background-size: cover;
    padding:1rem;
}


.top-bar, .top-bar ul{
    background:transparent;
}



.detach{
    position: fixed;
    width:350%;
    margin:3rem;
}

.footer{
    position: fixed;
    width:10%;
    margin:44rem;
}

.detach2{

    width:65%;
    margin:15rem;
}

.detach3{
 
    width:50%;

    margin: 12.5rem 12.5rem 10.5rem 22.5rem;
    justify-content:center;
}

.detach4{
 
    width:50%;

    margin: 12.5rem 12.5rem 10.5rem 22.5rem;
    justify-content:center;
}

.mb-0{
    margin-bottom: 0px;
}

.cbBlock{
    text-align:right;
}

ul.menu1{
    align-self: flex-end;
     top: 90px;  
}


ul.menu2{

}

.divider{
    border-top: solid 1px;
    clear: both;
    height: 1px;

}

.nospace{
    margin-top:0px !important;
    margin-bottom:0px !important;
}

.grid-padding-x>.cell {
    padding-right: 0.3rem;
    padding-left: 0.3rem;
}

.centeru{
    padding-top: 10px;
    padding-bottom: 10px;
}
