.nav-icon{
    width:100px;
}


.menu>li{
    a{
        color:black;
        &:hover{
            color:rgba(0,0,0,0.5)
        }
        
        &.is-active{
            color:black;
            font-weight:bold;
        }
    }
    @include breakpoint(medium){
        margin-left:3rem;
        margin-top:1rem
    }

    &.to-right{
        float:right;
    }
}

.backdrop{
    width:100%;
    height:100vh;
    background: linear-gradient(rgba(255,255,255,0.5), rgba(255,255,255,0.5)),url('https://greenklean.ph/front/img/plant spray.jpg');
    background-size: cover;
    padding:1rem;
}

.backdrop-blue{
    width:100%;
    height:100vh;
    background-color: blue;
    padding:1rem;
}


.top-bar, .top-bar ul{
    background:transparent;
}


.detach{
    position: fixed;
    width:100%;
    padding:1rem;
}