.nav-icon{
    width:100px;
    @include breakpoint(small only){
        margin:0 auto 1rem auto;
        display:block;
    }
}


.play-icon img{
    width:200px;
}

.play-iconGP img{
    width:200px;
    margin-top: -10px;
    
}


.menu>li{
    a{
        color:black;
        &:hover{
            color:rgba(0,0,0,0.5)
        }
        
        &.is-active{
            color:black;
            font-weight:bold;
        }
    }
    @include breakpoint(medium){
         margin-left:3rem;
         margin-top:1rem
    }

    &.to-right{
        // float:right;
    }
}

.menu>li.bro{
    a{
        color:black;
        &:hover{
            color:rgba(0,0,0,0.5)
        }
        
        &.is-active{
            color:black;
            font-weight:bold;
        }
    }
    @include breakpoint(medium){
         margin-left:0rem !important;
         margin-top:0.5rem !important;
         
    }

    &.to-right{
        // float:right;
    }
}

.label_drop{
    @include breakpoint(medium){
        margin-left:1rem !important;
   }


}

.backdrop{
    width:100%;
    height:100vh;
    background: linear-gradient(rgba(255,255,255,0.5), rgba(255,255,255,0.5)),url('https://greenklean.ph/front/img/plant spray.jpg');
    background-size: cover;
    padding:1rem;
}

.backdrop-blue{
    width:100%;
    height:100vh;
    background: linear-gradient(rgba(255,255,255,0.5), rgba(255,255,255,0.5)),url('https://greenklean.ph/front/img/greenclean2.jpg');
    background-size: cover;
    padding:1rem;
}

.backdrop-2{
    width:100%;
    height:100vh;
    background-size: cover;
    display:flex;
    align-items: center;
    justify-content: center;
}

.faq-header{
    width:50%;
    margin-left:auto;
    margin-right:auto;
    @include breakpoint(medium only){
        width:100%;
        padding:1rem;
    }
    
    @include breakpoint(small only){
        width:100%;
        padding:1rem;
    }
}

.top-bar, .top-bar ul{
    background:transparent;
}



.detach{
    position: fixed;
    width:100%;
    @include breakpoint(small only){
        background-color:white;
    }

    @include breakpoint(medium){
        margin:1rem;
    }
}

.about-us__container{
    margin-top:8rem;
    display:block;
    margin-left:auto;
    margin-right:auto;
    @include breakpoint(medium){
        width:80%;
    }
    @include breakpoint(large){
        width:60%;
    }
}

.detach3{
    margin:auto;
    width:50%;
    overflow-y: scroll;
    height: 50vh;

    @include breakpoint(medium only){
        width:100%;
        padding:1rem;
    }
    

    @include breakpoint(small only){
        width:100%;
        padding:1rem;
    }
}

.detach4{
 
    width:50%;

    margin: 12.5rem 12.5rem 10.5rem 22.5rem;
    justify-content:center;
}

.header-title{
    font-weight:bold;
    margin-left:auto;
    margin-right:auto;
    margin-bottom:1rem;
    width:80%;
}

.description{
    width:70%;
    margin-left:auto;
    margin-right:auto;
}

.mb-0{
    margin-bottom: 0px;
    font-weight:bold;
}

.cbBlock{
    text-align:right;
}

.divider{
    border-top: solid 1px;
    clear: both;
    height: 1px;

}

.contact-us__container{
    padding:1rem;
}

.nospace{
    margin-top:0px !important;
    margin-bottom:0px !important;
}

.grid-padding-x>.cell {
    padding-right: 0.3rem;
    padding-left: 0.3rem;
}

.centeru{
    padding-top: 10px;
    padding-bottom: 10px;
}
